[submodule "avida/libs/apto"]
	path = avida/libs/apto
	url = git://programerror.com/apto.git
[submodule "avida/documentation"]
	path = avida/documentation
	url = https://github.com/devosoft/avida.wiki.git
